/target
notes.md
test.md
scrap/
docs/
dump
memory.x
scripts/
examples/clocks.rs
examples/timer.rs
.dev-log/
src/ffi
script.sh
src/usb_xs.rs
src/registers/usb_ctrl.rs
src/registers/timer.rs
src/registers/uart.rs
src/registers/socs.rs
examples/ST7735s_SPI.rs
src/registers/spi.rs
shit/
src/usb_xs.rs
src/registers/clocks.rs
src/
examples/interrupt_handler.rs
